@model IEnumerable<EntitiesLayer.ProductsEL>
@using EntitiesLayer;
@{
    ViewBag.Title = "ListProducts";
    Layout = "~/Views/MasterExtranet.cshtml";
    //@{Html.DisplayFor(modelItem => item.idProducto)}
    foreach (var item in Model)
    {
        <div class="col-sm-4 portfolio-item">
            <a href="#portfolioModal @Html.DisplayFor(modelItem => item.idProducto)"
               class="portfolio-link" data-toggle="modal">
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/Resources/Flores/@Html.DisplayFor(modelItem => item.imagen)" class="img-responsive" alt="">
            </a>
        </div>
    }

}